table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
.table-header {
  background-color: var(--dark-blue, #2d3d9a);
  color: #fff;
}
.table-header-cell {
  width: 10rem;
}
.inner-table-header-cell {
  width: 9.5rem;
}
.td.mat-cell:first-of-type {
  padding-left: 0px;
}
.income-body {
  padding-right: 108px;
}
.income-data {
  display: flex;
  gap: 13px;
}
.inner-Table {
  /* display: grid; */
}
.inner-Table-rows {
  /* grid-template-columns: repeat(4, 1fr); */
}
.inner-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
