<div>
  <table mat-table [dataSource]="dataSource" class="table-header">
    <colgroup>
      <col width="4%" />
      <col width="30%" />
      <col width="22%" />
      <col width="22%" />
      <col width="22%" />
    </colgroup>
    <ng-container matColumnDef="header-row-first-group">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">&nbsp;</th>
    </ng-container>
    <ng-container matColumnDef="header-row-second-group">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">&nbsp;</th>
    </ng-container>
    <ng-container matColumnDef="header-row-third-group">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">
        Monthio assessment
      </th>
    </ng-container>

    <!-- Header row second group -->
    <ng-container matColumnDef="header-row-fourth-group">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">
        User assessment
      </th>
    </ng-container>

    <!-- Header row second group -->
    <ng-container matColumnDef="header-row-fifth-group">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">Decision</th>
    </ng-container>
    <tr
      mat-header-row
      *matHeaderRowDef="[
        'header-row-first-group',
        'header-row-second-group',
        'header-row-third-group',
        'header-row-fourth-group',
        'header-row-fifth-group'
      ]"
    ></tr>
  </table>

  <table
    mat-table
    [dataSource]="dataSource"
    multiTemplateDataRows
    class="mat-elevation-z8"
  >
    <colgroup>
      <col width="4%" />
      <col width="30%" />
      <col width="22%" />
      <col width="22%" />
      <col width="22%" />
    </colgroup>
    <ng-container
      matColumnDef="{{ column }}"
      *ngFor="let column of columnsToDisplay"
    >
      <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
    </ng-container>
    <ng-container matColumnDef="expand">
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          aria-label="expand row"
          (click)="expandFunc(element)"
        >
          <mat-icon *ngIf="expandedElement !== element"
            >keyboard_arrow_down</mat-icon
          >
          <mat-icon *ngIf="expandedElement === element"
            >keyboard_arrow_up</mat-icon
          >
        </button>
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="columnsToDisplayWithExpand.length"
      >
        <div
          class="example-element-detail"
          [@detailExpand]="
            element == expandedElement ? 'expanded' : 'collapsed'
          "
        >
          <table>
            <colgroup>
              <col width="4%" />
              <col width="30%" />
              <col width="22%" />
              <col width="22%" />
              <col width="22%" />
            </colgroup>
            <tr *ngFor="let column of INNER_TABLE_DATA">
              <td>&nbsp;</td>
              <td>{{ column.salary }}</td>
              <td>
                <span style="margin-left: -7px">
                  {{ column.monthio_Assessment }}
                </span>
              </td>
              <td>{{ column.user_Assessment }}</td>
              <td>
                <div style="width: 40px">
                  <input
                    class="input-text"
                    type="number"
                    disabled
                    value="{{ column.decision }}"
                  />
                </div>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </ng-container>

    <!-- <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr> -->
    <tr
      mat-row
      *matRowDef="let element; columns: columnsToDisplayWithExpand"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="example-detail-row"
    ></tr>
  </table>
  <div *ngIf="isExpanded"></div>
</div>
