<mat-card>
  <!-- <mat-card-title>Actions Buttons</mat-card-title> -->
  <div class="summary-header">
    <h3 class="summary-text">Summary of changes to key numbers</h3>
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      class="sc-htJRVC iESmWC"
      viewBox="0 0 32 32"
    >
      <path
        fill="var(--light-grey, #E5E6EB)"
        d="M31.5 16c0 8.56-6.939 15.499-15.499 15.499s-15.499-6.939-15.499-15.499c0-8.56 6.939-15.499 15.499-15.499s15.499 6.939 15.499 15.499z"
      ></path>
      <path
        fill="var(--primary-darker)"
        d="M17.108 12.113v12.283h-2.747v-12.283h2.747zM14.179 8.889c0-0.416 0.136-0.761 0.409-1.033 0.28-0.28 0.666-0.42 1.158-0.42 0.484 0 0.867 0.14 1.147 0.42 0.28 0.272 0.42 0.617 0.42 1.033 0 0.409-0.14 0.749-0.42 1.022s-0.662 0.409-1.147 0.409c-0.492 0-0.878-0.136-1.158-0.409-0.272-0.272-0.409-0.613-0.409-1.022z"
      ></path>
    </svg>
  </div>

  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-description>
        Currently I am {{ panelOpenState ? "open" : "closed" }}
      </mat-panel-description>
      <mat-panel-title> Self aware panel </mat-panel-title>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel>
</mat-card>
